*/a.out
.vscode
.vscode/*
*/*/a.out
*/*/*/a.out
*/*/*/*/a.out*/a.out
*/*/a.out
*/*/*/a.out
*/*/*/*/a.out*/a.out
*/*/a.out
*/*/*/a.out
*/*/*/*/a.out*/a.out
*/*/a.out
*/*/*/a.out
*/*/*/*/a.out*/a.out
*/*/a.out
*/*/*/a.out
*/*/*/*/a.out*/a.out
*/*/a.out
*/*/*/a.out
*/*/*/*/a.out*/a.out
*/*/a.out
*/*/*/a.out
*/*/*/*/a.out*/a.out
*/*/a.out
*/*/*/a.out
*/*/*/*/a.out
